<h2>In a Snapshot</h2>
<p>Passionate and experienced digital communications professional with a demonstrated history of crafting solutions in the web-maker industry.</p>

<h2>Skills & Experience</h2>
<ul>
  <li>Strategic Planning Development</li>
  <li>Remote Team Coordination</li>
  <li>Technical Systems Administration</li>
  <li>Information Security</li>
  <li>Accessibility UX Strategy</li>
</ul>

<hr />

<p>Looking for more information, or just interested to get in touch? Head on over to my <a href="https://www.linkedin.com/in/john-hawkins-860029117/">LinkedIn</a> page, or send a note to <a href="mailto:hello@johnhawkins.io">hello@johnhawkins.io</a>.</p>

<!--
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>

-->
